from django.contrib.auth.models import User
from users.models import Token
if not User.objects.filter(username='{{ netbox.config.superuser.user }}'):
   u=User.objects.create_superuser('{{ netbox.config.superuser.user }}', '{{ netbox.config.superuser.email }}', '{{ netbox.config.superuser.pass }}')
   Token.objects.create(user=u, key='{{ netbox.config.superuser.api_token }}')
