[Unit]
Description=Netbox housekeeping service

[Service]
User={{ wallatinyarchive.user.netbox.name }}
Group={{ wallatinyarchive.user.netbox.name }}
ExecStart={{ netbox.base_path }}/venv/bin/python {{ netbox.base_path }}/netbox/manage.py housekeeping

[Install]
WantedBy=basic.target
