# https://github.com/netbox-community/netbox/blob/develop/contrib/netbox-rq.service

[Unit]
Description=NetBox Request Queue Worker
Documentation=https://netbox.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User={{ netbox.user.name }}
Group={{ netbox.user.name }}
WorkingDirectory={{ netbox.path.base }}

ExecStart={{ netbox.path.base }}/venv/bin/python3 {{ netbox.path.base }}/netbox/manage.py rqworker high default low

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
