# https://github.com/netbox-community/netbox/blob/develop/contrib/netbox.service

[Unit]
Description=NetBox WSGI Service
Documentation=https://netbox.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User={{ netbox.user.name }}
Group={{ netbox.user.name }}
PIDFile=/var/tmp/netbox.pid
WorkingDirectory={{ netbox.path.base }}

ExecStart={{ netbox.path.base }}/venv/bin/gunicorn --pid /var/tmp/netbox.pid --pythonpath {{ netbox.path.base }}/netbox --config {{ netbox.path.base }}/gunicorn.py netbox.wsgi

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
