[Unit]
Description=Netbox housekeeping service

[Service]
User={{ netbox.user.name }}
Group={{ netbox.user.name }}
ExecStart={{ netbox.path.base }}/venv/bin/python {{ netbox.path.base }}/netbox/manage.py housekeeping

[Install]
WantedBy=basic.target
